<!-- <app-numbers 
  [first]="100" 
  [second]="getRandomNumber()" 
  third="Lorem ipsum"
  [secondArray]="values"
>
</app-numbers>
<app-test-button
  (onClick)="handleButtonClick()"
  (onNewValue)="handleNewValue($event)"
></app-test-button> -->

<!-- <app-signal-numbers></app-signal-numbers> -->
<!-- <app-directives-old></app-directives-old> -->
<!-- <app-new-directives></app-new-directives> -->

<!-- <app-detection-test (onNewValue)="addNewValue()" [values]="multipleValues" [value]="singleValue"></app-detection-test>
<div>
  <button (click)="addNewValue()">Add new value</button>
  <button (click)="setNewValue()">Set new single value</button>
</div> -->

<app-detection-container></app-detection-container>