<!-- <app-numbers 
  [first]="100" 
  [second]="getRandomNumber()" 
  third="Lorem ipsum"
  [secondArray]="values"
>
</app-numbers>
<app-test-button
  (onClick)="handleButtonClick()"
  (onNewValue)="handleNewValue($event)"
></app-test-button> -->

<!-- <app-signal-numbers></app-signal-numbers> -->
<!-- <app-directives-old></app-directives-old> -->
<!-- <app-new-directives></app-new-directives> -->

<!-- <app-detection-test (onNewValue)="addNewValue()" [values]="multipleValues" [value]="singleValue"></app-detection-test>
<div>
  <button (click)="addNewValue()">Add new value</button>
  <button (click)="setNewValue()">Set new single value</button>
</div> -->

<!-- <app-detection-container></app-detection-container> -->

<!-- <app-page-wrapper title="Tytuł podstrony">
  <h2 header>Jestem podtytułem</h2>
  <section>Jestem pojedynczą podstroną</section>
</app-page-wrapper> -->

<!-- Zawartość projekcji pozostaje cały czas zainicjalizowana, nawet jak ng-content warunkowo jest ukryte -->
<!-- <app-conditional-projection>
  <app-lifecycles [values]="[1, 2, 3]"></app-lifecycles>
</app-conditional-projection> -->

<!-- <ng-template #temp>
  <app-lifecycles [values]="[1, 2, 3]"></app-lifecycles>
</ng-template> -->

<!-- Zawartość ng-template zostanie zainicjalizowana dopiero w momencie wykorzystania szablonu -->
<!-- <ng-container *ngTemplateOutlet="temp"></ng-container> -->
<!-- <app-template-variable-parent></app-template-variable-parent> -->

<!-- <app-pipes-test></app-pipes-test> -->

<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-rx-test></app-rx-test> -->
<app-rx-test2></app-rx-test2>