<app-template-variable-child #child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<app-template-variable-child></app-template-variable-child>
<button (click)="child.randomize()">Randomize</button>
<button (click)="randomize()">Randomize from component</button>
<button (click)="randomizeAll()">Randomize all</button>